xset s off
xset s noblank
xset -dpms

setxkbmap -option terminate:ctrl_alt_bksp
chromium-browser \
  #--start-fullscreen \
  #--kiosk \
  --incognito \
  #--noerrdialogs \
  --no-first-run \
  #--fast \
  #--fast-start \
  #--disable-infobars \
  #--disable-pinch \
  {{ ha_url }} \
  {{ grafana_url }}
