@lxpanel --profile LXDE-pi
@pcmanfm --desktop --profile LXDE-pi
@xscreensaver -no-splash

xset s off
xset s noblank
xset -dpms

setxkbmap -option terminate:ctrl_alt_bksp
@chromium-browser --kiosk --incognito {{ grafana_url }}
