# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
influxdb:
  api_version: 2
  host: {{ influxdb_host }}
  port: {{ influxdb_port }}
  ssl: {{ influxdb_ssl }}
  token: {{ influxdb_api_key }}
  organization: {{ influxdb_organization_code }}
  exclude:
    entity_globs: "*"

sensor: !include sensors.yaml

homeassistant:
  customize: !include customizations.yaml
