# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
influxdb:
  api_version: 2
  host: {{ influxdb_host }}
  port: {{ influxdb_port }}
  ssl: {{ influxdb_ssl }}
  token: {{ influxdb_api_read_key }}
  organization: {{ influxdb_organization_code }}
  exclude:
    entity_globs: "*"

sensor: !include sensors.yaml

homeassistant:
  name: Home
  latitude: {{ home_lat }}
  longitude: {{ home_lon }}
  elevation: {{ home_alt }}
  unit_system: {{ units }}
  currency: {{ currency }}
  time_zone: {{ time_zone }}
  external_url: {{ ha_url }}
  internal_url: {{ ha_url }}
  customize: !include customizations.yaml
