- platform: influxdb
  api_version: 2
  host: {{ influxdb_host }}
  port: {{ influxdb_port }}
  ssl: {{ influxdb_ssl }}
  token: {{ influxdb_api_key }}
  organization: {{ influxdb_organization_code }}
  bucket: octopus
  queries_flux:
  - range_start: "-30m"
    name: octopus_outgoing
    unit_of_measurement: "£/kWh"
    query: |
      filter(fn: (r) => r._measurement == "octopus_outgoing" and r._field == "value_inc_vat")

- platform: emoncms
  api_key: {{ emoncms_api_key }}
  url: {{ emoncms_url }}
  id: 1
