- platform: influxdb
  api_version: 2
  host: {{ influxdb_host }}
  port: {{ influxdb_port }}
  ssl: {{ influxdb_ssl }}
  token: {{ influxdb_api_read_key }}
  organization: {{ influxdb_organization_code }}
  bucket: octopus
  queries_flux:
  - range_start: "-30m"
    name: octopus_outgoing
    unit_of_measurement: "£/kWh"
    query: |
      filter(fn: (r) => r._measurement == "octopus_outgoing" and r._field == "value_inc_vat")

- platform: influxdb
  api_version: 2
  host: {{ influxdb_host }}
  port: {{ influxdb_port }}
  ssl: {{ influxdb_ssl }}
  token: {{ influxdb_api_read_key }}
  organization: {{ influxdb_organization_code }}
  bucket: telegraf
  queries_flux:
  - range_start: "today()"
    name: import_cost
    unit_of_measurement: "GBP"
    device_class: monetary
    query: |
        filter(fn: (r) => r["_measurement"] == "mqtt_consumer" and
        r["_field"] == "value" and
        r["host"] == "homeassistant" and
        r["topic"] == "emon/power/import")
        |> integral(unit: 1h)
        |> map(fn: (r) => ({_value: r._value * 0.001 * 0.1995 + 0.2438, _time: r._stop}))

- platform: emoncms
  api_key: {{ emoncms_api_key }}
  url: {{ emoncms_url }}
  id: 1
