[[inputs.mqtt_consumer]]
  servers = ["tcp://{{ emoncms_host }}:{{ emoncms_mqtt_port }}"]

  topics = [
    "emon/#"
  ]
  username = "emonpi"
  password = "emonpimqtt2016"

  # topic_tag = "topic"

  ## If unset, a random client ID will be generated.
  # client_id = ""

  data_format = "value"
  data_type = "float"