# Configuration for sending metrics to InfluxDB
[[outputs.influxdb_v2]]
   urls = ["{{ influxdb_url }}"]
   token = "{{ influxdb_api_write_key }}"
   organization = "{{ influxdb_organization }}"
   bucket = "telegraf"
